{% extends 'base_accounts.html' %}

{% block container %}

{% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

<form id="form" action="{% url 'handlelogin' %}" method="post">
    {% csrf_token %}

    <h1>Login</h1>
    <div class="input-control-field">
        <label for="username">Username</label>
        <input id="username" name="username" type="text">
        <div class="error"></div>
    </div>
    <div class="input-control-field">
        <label for="password">Password</label>
        <input id="password" name="password" type="password">
        <div class="error"></div>
    </div>
    <button type="submit">Sign In</button>
    <br>
    <hr>
    <br>
    <span>Don't have an account? <a href="{% url 'handleregister' %}">Sign up</a></span>
</form>

{% endblock %}